<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
    {{message.content}}
</p>

<h2><ng-pluralize 
        count="message.Replies.length"
        when="{
            'one':'Yksi vastaus', 
            'other': '{} vastausta'
        }">
    </ng-pluralize></h2>

<ul class="media-list" ng-repeat="reply in message.Replies">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">Käyttäjätunnus tähän</h4>

      <p>
        {{reply.content}}
      </p>

      <p class="text-muted">
        1.1.2015 12:00
      </p>
    </div>
  </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea ng-model="newReplyContent" class="form-control"></textarea>
  </div>
  <button ng-click="addReply()" class="btn btn-success">Lisää vastaus</button>
</form>
